.container {
	.chat-room-wrap {
		background-image: url(/images/chat-background.jpg);
		
		background-position: center; /* Center the image */
		background-repeat: repeat;
		background-size: cover; /* Resize the background image to cover the entire container */
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 700px;
	
		.list {
			min-height: 300px;
			height: calc(100vh - 333px);
			overflow-y: auto;
			display: flex;
			flex-direction: column-reverse;
	
			// @media only screen and (max-width: (@screen-lg-max)) {
			// 	height: calc(100vh - 313px);
			// }
	
			// @media only screen and (max-width: (@screen-sm-max)) {
			// 	height: calc(100vh - 303px);
			// }
	
			// @media only screen and (max-width: @screen-xs-max) {
			// 	height: calc(100vh - 288px);
			// 	padding: 0 10px;
			// }
	
			.scroll {
				display: flex;
				flex-direction: column-reverse;
			}
	
			.chips {
				border: none;
				background: lightseagreen;
				color: grey !important;
				font-weight: 400;
				margin: 5px 0;
				padding: 5px 20px;
			}
		}
	}
	
}