@font-face {
	font-family: 'Open Sans';
	font-weight: 300;
	font-style: normal;
	src: local('Open Sans Light'), local('OpenSans-Light'),
		url(/fonts/open-sans/OpenSans-Light.ttf) format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 300;
	font-style: italic;
	src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
		url(/fonts/open-sans/OpenSans-LightItalic.ttf) format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: normal;
	src: local('Open Sans'), local('OpenSans'),
		url(/fonts/open-sans/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: italic;
	src: local('Open Sans Italic'), local('OpenSans-Italic'),
		url(/fonts/open-sans/OpenSans-Italic.ttf) format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 500;
	font-style: normal;
	src: local('Open Sans Medium'), local('OpenSans-Medium'),
		url(/fonts/open-sans/OpenSans-Medium.ttf) format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 500;
	font-style: italic;
	src: local('Open Sans Medium Italic'), local('OpenSans-MediumItalic'),
		url(/fonts/open-sans/OpenSans-MediumItalic.ttf) format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: normal;
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
		url(/fonts/open-sans/OpenSans-SemiBold.ttf) format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: italic;
	src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
		url(/fonts/open-sans/OpenSans-SemiBoldItalic.ttf) format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 700;
	font-style: normal;
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
		url(/fonts/open-sans/OpenSans-Bold.ttf) format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 700;
	font-style: italic;
	src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
		url(/fonts/open-sans/OpenSans-BoldItalic.ttf) format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 800;
	font-style: normal;
	src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
		url(/fonts/open-sans/OpenSans-ExtraBold.ttf) format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 800;
	font-style: italic;
	src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
		url(/fonts/open-sans/OpenSans-ExtraBoldItalic.ttf) format('truetype');
}
